.section {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
}

.input-field {
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border: 2px solid rgb(91, 144, 228);
  border-radius: 4px;
  outline: none;
  box-shadow: none;
}

.form-control {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.fa-eye-slash,
.fa-eye {
  position: absolute;
  right: 0;
  top: 25%;
  width: 40px;
  border: none;
  outline: none;
  box-shadow: none;
  padding-right: 10px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
}
