<div class="col-md-6 container bg-light p-5 mt-4">
  <h1 class="text-center mb-4">Password Strength</h1>
  <form [formGroup]="form">
    <div class="mb-3">
      <input
        title="password"
        type="password"
        class="form-control"
        formControlName="password"
      />
      <app-strength-checker
        barLabel=" "
        [passwordToVerify]="form.value.password"
        (passwordStrength)="passwordValid($event)"
      ></app-strength-checker>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!passwordIsValid"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </form>

  <p>
    Created by
    <a href="https://nataliia-boiko-portfolio.pages.dev/">Nataliia Boiko</a>
    with OpenSource on <a href="/">GitHub</a>
  </p>
</div>
